.board {
  width: 420px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 5px;
}

.reset-button {
  font-size: 2em;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff6f69;
  border: #ff6f69;
  color: #ffeead;
  flex: none;
  align-self: baseline;
}